.section-index{
    .module-index{
        .module-header{
            .title{
                color: #000;
                text-align: center;
            }
        }
        .module-content{
            border: 5px solid #000;
            height: 500px;
        }
    }
}