#header {
    position: relative;
    &.scrolled {
        .header-top {
            margin-bottom: 90px;
        }
        .header-nav {
            position: fixed;
            top: 0;
            z-index: 10;
            background: rgba(0, 0, 0, 0.8);
            .nav-content {
                .logo {
                    img {
                        width: 195px;
                        transition: all 0.5s ease;
                    }
                }
            }
        }
    }

    .header-top {
        background: #1f2732;
        padding-top: 10px;
        padding-bottom: 12px;
        width: 100%;

        .top-content {
            .header-social {
                float: left;
                color: #fff;
                margin-right: 12px;

                .social-item {
                    float: left;
                    margin-right: 13px;

                    &.item-language {
                        margin-right: 20px;
                        position: relative;

                        .title {
                            margin: 0;
                            font-size: 13px;
                            cursor: pointer;

                            .fas {
                                font-size: 9px;
                                position: relative;
                                top: -1px;
                            }
                        }
                    }

                    .link {
                        font-size: 13px;
                        color: #fff;
                        &:hover {
                            color: #00d166;
                        }
                    }
                    &:hover {
                        .social-list {
                            transform: scale(1);
                        }
                    }

                    .social-list {
                        display: block;
                        position: absolute;
                        transform: scale(0);
                        transition: all 0.3s ease;
                        top: 100%;
                        left: 0;
                        z-index: 10;
                        background: #fff;
                        padding: 0;
                        border-radius: 2px;
                        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
                        transform-origin: top center;


                        &.active {
                            transform: scale(1);
                        }

                        .social-list__item {
                            .social-item__link {
                                display: block;
                                padding: 5px;
                                font-size: 13px;
                                color: #333;

                                &:hover {
                                    background: #3cb85a;
                                    color: #fff !important;

                                }
                            }
                        }
                    }
                }
            }

            .header-conect {
                float: right;
                padding-top: 3px;

                .show__top {
                    display: none;
                }

                .menu-top {
                    .close__top {
                        display: none;
                    }
                }

                .conect-list {
                    .conect-list__item {
                        float: left;
                        margin-left: 39px;
                        position: relative;

                        .conect-list__link {
                            display: block;
                            color: #fff;
                            font-size: 12px;
                            text-transform: uppercase;
                            font-weight: bold;

                            &:after {
                                content: "";
                                background: #fff;
                                width: 6px;
                                height: 6px;
                                border-radius: 50%;
                                font-size: 41px;
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                left: -17px;
                                line-height: 1px;
                            }

                            &:hover {
                                &:after {
                                    background: #00d166;
                                }
                                color: #00d166;
                            }

                        }
                    }
                }
            }

        }
    }

    .header-nav {
        position: relative;
        width: 100%;
        background: green;
        padding-top: 11px;
        padding-bottom: 9px;
        z-index: 1;
        transition: padding 0.5s ease, color 1s ease;



        .nav-content {
            .logo {
                float: left;

                img {
                    width: 200px;
                    padding-top: 7px;
                }

            }

            .nav {
                float: right;

                .show__menu {
                    display: none;
                }

                .menu {
                    .close__menu {
                        display: none;
                    }

                    .menu-list {
                        .menu-list__item {
                            float: left;
                            padding-left: 57px;
                            padding-top: 25px;

                            .menu-list__link {
                                display: block;
                                color: #fff;
                                font-size: 15px;
                                position: relative;
                                text-transform: uppercase;

                                &:after {
                                    content: "";
                                    background: #fff;
                                    width: 6px;
                                    height: 6px;
                                    border-radius: 50%;
                                    font-size: 41px;
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    left: -17px;
                                    line-height: 1px;
                                }

                                &:hover {
                                    &:after {
                                        background: #00d166;
                                    }
                                    color: #00d166;
                                }

                            }
                        }
                    }
                }
            }
        }
    }
    .header-banner {
        height: 200px;
        background: red;
        color: #fff;
        padding-top: 100px;
        text-align: center;
    }


}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
    #header {
        .header-top {
            .top-content {
                .header-conect {
                    .conect-list {
                        .conect-list__item {
                            margin-left: 30px;
                        }
                    }
                }
            }
        }
        .header-nav {
            .nav-content {
                .nav {
                    .menu {
                        .menu-list {
                            .menu-list__item {
                                padding-left: 44px;
                            }
                        }
                    }
                }
            }
        }

    }

}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    #header {
        &.scrolled {
            .header-nav {
                .nav-content {
                    .logo {
                        img {
                            width: 144px;
                        }
                    }
                }
            }

        }
        .header-nav {


            .nav-content {
                .logo {
                    img {
                        width: 144px;
                    }
                }

                .nav {
                    .menu {
                        .menu-list {
                            .menu-list__item {
                                padding-left: 28px;
                                padding-top: 18px;

                                .menu-list__link {
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
            }

        }

    }

}
@media only screen and (max-width:767px) {
    #header {
        .header-top {
            .top-content {
                .header-conect {
                    .show__top {
                        display: block;
                        color: #fff;
                        cursor: pointer;
                    }

                    .menu-top {
                        position: fixed;
                        top: 0;
                        left: 0;
                        z-index: 100;
                        padding-top: 61px;
                        padding-right: 20px;
                        height: 100%;
                        overflow: auto;
                        background: #0e131b;
                        transform: translateX(-100%);
                        transition: all .5s ease;

                        &.active {
                            transform: translateX(0);
                        }

                        .close__top {
                            display: block;
                            color: #fff;
                            font-size: 25px;
                            position: absolute;
                            top: 5px;
                            right: 10px;
                        }

                    }

                    .conect-list {
                        .conect-list__item {
                            position: relative;
                            float: none;
                            padding-top: 10px;
                            padding-bottom: 10px;
                        }
                    }

                }
            }
        }

        .header-nav {
            padding-top: 10px;
            padding-bottom: 10px;

            .nav-content {
                .logo {
                    img {
                        width: 232px;
                    }
                }

                .nav {
                    .show__menu {
                        display: block;
                        color: #fff;
                        font-size: 30px;
                        position: absolute;
                        right: 15px;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    .menu {
                        position: fixed;
                        top: 0;
                        padding-top: 51px;
                        left: 0;
                        background: #098235;
                        height: 100%;
                        overflow: auto;
                        padding-right: 20px;
                        transform: translateX(-100%);
                        transition: all .5s ease;

                        &.active {
                            transform: translateX(0);
                        }

                        .close__menu {
                            display: block;
                            color: #fff;
                            font-size: 25px;
                            position: absolute;
                            top: 5px;
                            right: 10px;
                        }

                        .menu-list {
                            .menu-list__item {
                                padding-left: 40px;
                                padding-top: 16px;
                                float: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

